@-webkit-keyframes loading-overlay-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-overlay-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

:host {
  background: RGBA(255, 255, 255, .75);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .spinner,
  .spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }

  .spinner {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    border-top: 1.1em solid $primary;
    border-right: 1.1em solid $primary;;
    border-bottom: 1.1em solid $primary;;
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading-overlay-spinner-animation 1.1s infinite linear;
    animation: loading-overlay-spinner-animation 1.1s infinite linear;
  }
}
