<form [formGroup]="processCapture.configuration.form" (ngSubmit)="processCapture.configuration.submit()">

  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Documentos emitidos além da data limite
      </h4>
      <div class="form-check form-switch">
        <input [formControlName]="'documentIssueDateBypassEnabled'" class="form-check-input" type="checkbox" id="documentIssueDateBypassEnabled" />
        <label class="form-check-label d-none" for="documentIssueDateBypassEnabled">Documentos fora de validade</label>
      </div>
    </div>
    <div class="card-body">
      <p class="my-2">
        Aplica-se aos <strong class="text-nowrap">processos de reembolso</strong> de utentes que apresentem uma
        <strong class="text-nowrap">autorização especial</strong> referente aos limites normalmente impostos pelo sistema
        para a validação da <strong class="text-nowrap">data de emissão</strong> dos documentos apresentados.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Machado-Joseph
      </h4>
      <div class="form-check form-switch">
        <input [formControlName]="'machadoJosephEnabled'" class="form-check-input" type="checkbox" id="machadoJosephEnabled" />
        <label class="form-check-label d-none" for="machadoJosephEnabled">Machado-Joseph</label>
      </div>
    </div>
    <div class="card-body">
      <p class="my-2">
        Aplica-se aos <strong class="text-nowrap">processos de reembolso</strong> de utentes diagnosticados com a doença de Machado-Joseph (Ataxia SCA3).
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Reembolso completo
      </h4>
      <div class="form-check form-switch">
        <input [formControlName]="'reimbursementLimitBypassEnabled'" class="form-check-input" type="checkbox" id="reimbursementLimitBypassEnabled" />
        <label class="form-check-label d-none" for="reimbursementLimitBypassEnabled">Documentos fora de validade</label>
      </div>
    </div>
    <div class="card-body">
      <p class="my-2">
        Aplica-se aos <strong class="text-nowrap">processos de reembolso</strong> de utentes que apresentem uma
        <strong class="text-nowrap">autorização especial</strong> referente aos
        limites normalmente impostos pelo sistema para o cálculo das
        quantidades unitárias ou montantes sujeitos a reembolso.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Situação de desemprego
      </h4>
      <div class="form-check form-switch">
        <input [formControlName]="'unemploymentEnabled'" class="form-check-input" type="checkbox" id="unemploymentEnabled" />
        <label class="form-check-label d-none" for="unemploymentEnabled">Machado-Joseph</label>
      </div>
    </div>
    <div class="card-body">
      <p class="my-2">
        Aplica-se aos <strong class="text-nowrap">processos de reembolso</strong> de utentes em
        <strong class="text-nowrap">situação de desemprego</strong> e que
        apresentem uma <strong class="text-nowrap">declaração de desemprego</strong> válida.
      </p>
    </div>
  </div>
</form>
