<Project>

	<PropertyGroup>
		<ImplicitUsings>disable</ImplicitUsings>
		<LangVersion>11</LangVersion>
		<Nullable>enable</Nullable>
		<TargetFramework>net7.0</TargetFramework>
	</PropertyGroup>

	<PropertyGroup>
		<GenerateDocumentationFile>false</GenerateDocumentationFile>
		<IsPackable>false</IsPackable>
		<RuntimeIdentifiers>linux-x64;win-x64</RuntimeIdentifiers>
	</PropertyGroup>

	<PropertyGroup>
		<AssemblyVersion>3.0.0</AssemblyVersion>
		<FileVersion>3.0.0.23179</FileVersion>
		<VersionPrefix>3.0.0-dev.1</VersionPrefix>
	</PropertyGroup>
	
</Project>