<div class="position-absolute d-flex align-items-center h-100 w-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">
        <!-- Image -->
        <div class="text-center">
          <img src="assets/dashkit/img/illustrations/happiness.svg" alt="..." class="img-fluid">
        </div>
      </div>
      <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
        <!-- Heading -->
        <h1 class="display-4 text-center mb-3">
          Iniciar sessão
        </h1>
        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
          Inicie sessão através do seu endereço de correio eletrónico para aceder ao <span class="text-nowrap">Sistema de Gestão de Reembolsos</span>.
        </p>

        @if (error) {
          <p class="alert alert-danger">
            {{ error.message }}
          </p>
        }

        <!-- Form -->
        <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
          <!-- Email address -->
          <app-form-group #emailAddress [name]="'emailAddress'" class="form-group d-block">
            <!-- Label -->
            <label
              [class.is-invalid]="emailAddress.invalid"
              [class.is-required]="emailAddress.required"
              [for]="emailAddress.name"
              class="form-label">
              Correio eletrónico
            </label>
            <!-- Input -->
            <input
              [class.is-invalid]="emailAddress.invalid"
              [class.is-required]="emailAddress.required"
              [formControl]="emailAddress.control"
              [id]="emailAddress.name"
              autocomplete="off"
              class="form-control"
              placeholder="meu.nome@azores.gov.pt"
              tabindex="1"
              type="email" />
          </app-form-group>
          <!-- Password -->
          <app-form-group #password [name]="'password'" class="form-group d-block">
            <div class="row">
              <div class="col">
                <!-- Label -->
                <label
                  [class.is-invalid]="password.invalid"
                  [class.is-required]="password.required"
                  [for]="password.name"
                  class="form-label">
                  Palavra-passe
                </label>
              </div>
              <div class="col-auto">
                <!-- Help text -->
                <a href="mailto:support@datapoint.software?subject=Acesso+Sistema+Gestão+Reembolsos" class="form-text small text-muted">
                  Esqueceu-se da palavra-passe?
                </a>
              </div>
            </div> <!-- / .row -->
            <!-- Input group -->
            <div
              [class.is-invalid]="password.invalid"
              [class.is-required]="password.required"
              class="input-group input-group-merge">
              <!-- Input -->
              <input
                [class.is-invalid]="password.invalid"
                [class.is-required]="password.required"
                [formControl]="password.control"
                [id]="password.name"
                [type]="passwordVisible ? 'text' : 'password'"
                autocomplete="off"
                class="form-control"
                placeholder="Palavra-passe"
                tabindex="2"/>
              <!-- Icon -->
              <button class="input-group-text" type="button" (click)="togglePasswordVisible()">
                <i [class]="passwordVisible ? 'fe-shield' : 'fe-shield-off'" class="fe"></i>
              </button>
            </div>
          </app-form-group>
          @if (form.controls.persistent.enabled) {
            <!-- Input group -->
            <app-form-group #persistent [name]="'persistent'" class="form-group">
              <div class="form-check">
                <input
                  [class.is-invalid]="persistent.invalid"
                  [class.is-required]="persistent.required"
                  [formControl]="persistent.control"
                  [id]="persistent.name"
                  [value]="true"
                  class="form-check-input"
                  type="checkbox" />
                <label [for]="persistent.name" class="form-check-label">
                  Manter a sessão iniciada
                </label>
              </div>
            </app-form-group>
          }
          <!-- Submit -->
          <button
            [disabled]="form.invalid"
            class="btn btn-lg w-100 btn-primary mb-3"
            tabindex="4">
            Iniciar sessão
          </button>
          <!-- Link -->
          <div class="text-center">
            <small class="text-muted text-center">
              Não tem acesso? Deixe-nos uma <a href="mailto:support@datapoint.software?subject=Acesso+Sistema+Gestão+Reembolsos">mensagem</a>.
            </small>
          </div>
        </form>
      </div>
    </div> <!-- / .row -->
  </div>
</div>
