<form [formGroup]="patientSearchForm" (ngSubmit)="searchPatients()">
  <app-sui-form-group #filter [name]="'filter'" class="form-group d-block mb-4">
    <!-- Label -->
    <label
      [class.is-invalid]="filter.invalid"
      [class.is-required]="filter.required"
      [for]="filter.name"
      class="form-label">
      Utentes
    </label>
    <!-- Input group -->
    <div
      [class.is-invalid]="filter.invalid"
      [class.is-required]="filter.required"
      class="input-group input-group-merge">
      <!-- Input -->
      <input
        [class.is-invalid]="filter.invalid"
        [class.is-required]="filter.required"
        [formControl]="filter.control"
        [id]="filter.name"
        autocomplete="off"
        class="form-control"
        tabindex="1"
        type="text" />
      <!-- Icon -->
      <div class="input-group-text">
        <span class="fe fe-search"></span>
      </div>
    </div>
    @if (patientSearchForm.controls.useFullSearchCriteria.value) {
      <div class="form-text mt-2 mb-0">
        Pesquise por nome, contactos, número de identificação fiscal ou número de utente.
      </div>
    }
    @else {
      <div class="form-text mt-2 mb-0">
        Pesquise por número nacional do utente.
      </div>
    }
  </app-sui-form-group>
  <app-sui-form-group #useFullSearchCriteria [name]="'useFullSearchCriteria'" class="form-group d-block">
    <div class="form-check">
      <input
        [class.is-invalid]="useFullSearchCriteria.invalid"
        [class.is-required]="useFullSearchCriteria.required"
        [formControl]="useFullSearchCriteria.control"
        [id]="useFullSearchCriteria.name"
        [value]="true"
        class="form-check-input"
        type="checkbox" />
      <label [for]="useFullSearchCriteria.name" class="form-check-label">
        Usar a pesquisa avançada por nome e/ou contactos do utente.
      </label>
    </div>
    <div class="form-text mt-2 mb-0">
      Esta funcionalidade só deverá ser usada nos casos em que o utente
      esteja impossibilitado de apresentar o seu documento de identificação pessoal
      e o uso é monitorizado pelo administrador do sistema de informação.
    </div>
  </app-sui-form-group>
</form>

@if (patientSearchResult) {

  @if (patientSearchResult.totalMatchCount > 0) {

    @for (patientId of patientSearchResult.patientIds; track patientId) {
      <div
        (click)="selectPatient(patientId)"
        [class.disabled]="!isPatientSelectable(patientId)"
        [class.selected]="patient?.id === patientId"
        class="card search-result-card">
        <div class="card-body">
          <div class="row align-items-center flex-nowrap">
            <div class="col-auto">

              <!-- Avatar -->
              <div class="avatar avatar-lg d-flex align-items-center justify-content-center text-primary">
                <span class="fe fe-user"></span>
              </div>

            </div>
            <div class="col ms-n2">

              <!-- Title -->
              <h4 class="text-primary mb-2">
                {{patients.get(patientId)!.name}}
              </h4>

              <div class="text-muted my-2 fs-5">
                {{entities.get(patients.get(patientId)!.entityId)!.name}}
              </div>

              <div class="d-flex align-items-center flex-wrap">

                <div class="badge bg-dark-soft d-flex align-items-center p-2 my-2 me-2">
                  <strong class="me-2">NNU</strong>  {{ patients.get(patientId)!.number }}
                </div>

                @if (patients.get(patientId)!.taxNumber) {
                  <span class="badge bg-dark-soft d-flex align-items-center p-2 my-2 me-2">
                    <strong class="me-2">NIF</strong> {{ patients.get(patientId)!.taxNumber }}
                  </span>
                }

                @if (patients.get(patientId)!.emailAddress) {
                  <span class="badge bg-info-soft d-flex align-items-center p-2 my-2 me-2">
                    <span class="fe fe-mail me-2"></span> {{ patients.get(patientId)!.emailAddress }}
                  </span>
                }

                @if (patients.get(patientId)!.faxNumber) {
                  <span class="badge bg-info-soft d-flex align-items-center p-2 my-2 me-2">
                    <span class="fe fe-printer me-2"></span> {{ patients.get(patientId)!.faxNumber }}
                  </span>
                }

                @if (patients.get(patientId)!.phoneNumber) {
                  <span class="badge bg-info-soft d-flex align-items-center p-2 my-2 me-2">
                    <span class="fe fe-phone me-2"></span> {{ patients.get(patientId)!.phoneNumber }}
                  </span>
                }

                @if (patients.get(patientId)!.mobileNumber) {
                  <span class="badge bg-info-soft d-flex align-items-center p-2 my-2 me-2">
                    <span class="fe fe-smartphone me-2"></span> {{ patients.get(patientId)!.mobileNumber }}
                  </span>
                }

                @if (patients.get(patientId)!.death) {
                  <span class="badge bg-danger-soft d-flex align-items-center p-2 my-2 me-2">
                    <span class="fe fe-x-octagon me-2"></span> {{ patients.get(patientId)!.death | date:'dd/MM/yyyy' }}
                  </span>
                }

                @if (patients.get(patientId)!.external) {
                  <span class="badge bg-danger-soft d-flex align-items-center p-2 my-2 me-2">
                    <strong>Externo</strong>
                  </span>
                }
              </div>

              @if (patients.get(patientId)!.external) {
                <div class="text-danger fs-5 my-4">
                  Não tem permissões para registar processos na entidade em que este utente tem
                  a sua inscrição primária.
                </div>
              }

            </div>

            @if (isPatientSelectable(patientId)) {
              <div class="col-auto">

                <!-- Button -->
                <button class="btn btn-primary d-none d-md-inline-block" (click)="selectPatient(patientId)">
                  Continuar <span class="fe fe-arrow-right"></span>
                </button>

              </div>
            }
          </div> <!-- / .row -->
        </div> <!-- / .card-body -->
      </div>
    }
  }

  @else {
    <div class="alert alert-warning">
      Não foram encontrados utentes correspondentes a estes termos de pesquisa.
    </div>
  }
}
