<form [formGroup]="processCapture.legalRepresentative.form" (ngSubmit)="processCapture.legalRepresentative.submit()" class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      Representante legal
    </h4>
    <div class="form-check form-switch">
      <input [formControlName]="'enabled'" class="form-check-input" type="checkbox" id="legalRepresentativeEnabled" />
      <label class="form-check-label d-none" for="legalRepresentativeEnabled">Representante legal</label>
    </div>
  </div>
  <div  class="card-body">
    <div class="row">
      <div class="col-12 col-lg-8">
        <app-form-group
          #name
          [name]="'name'"
          [label]="'Nome'"
          class="form-group d-block mb-4">
          <!-- Input -->
          <input
            [class.is-invalid]="name?.invalid"
            [formControl]="name.control"
            [id]="name.name"
            class="form-control"
            placeholder="Nome"
            tabindex="1"
            type="text" />
        </app-form-group>
      </div>
      <div class="col-12 col-lg-4">
        <app-form-group
          #taxNumber
          [name]="'taxNumber'"
          [label]="'Contribuínte'"
          class="form-group d-block mb-4">
          <!-- Input -->
          <input
            [class.is-invalid]="taxNumber.invalid"
            [formControl]="taxNumber.control"
            [id]="taxNumber.name"
            class="form-control"
            oninput="this.value = this.value.toUpperCase()"
            placeholder="Contribuínte"
            tabindex="2"
            type="text" />
        </app-form-group>
      </div>
      <div class="col-12">
        <app-form-group
          #emailAddress
          [label]="'Correio eletrónico'"
          [name]="'emailAddress'"
          class="form-group d-block mb-4">
          <!-- Input -->
          <input
            [class.is-invalid]="emailAddress.invalid"
            [formControl]="emailAddress.control"
            [id]="emailAddress.name"
            class="form-control"
            placeholder="Correio eletrónico"
            tabindex="3"
            type="email" />
        </app-form-group>
      </div>
      <div class="col-12 col-lg-4">
        <app-form-group
          #faxNumber
          [label]="'Fax'"
          [name]="'faxNumber'"
          class="form-group d-block mb-4">
          <!-- Input -->
          <input
            [class.is-invalid]="faxNumber.invalid"
            [formControl]="faxNumber.control"
            [id]="faxNumber.name"
            class="form-control"
            placeholder="Fax"
            tabindex="4"
            type="text" />
        </app-form-group>
      </div>
      <div class="col-12 col-lg-4">
        <app-form-group
          #mobileNumber
          [label]="'Telemóvel'"
          [name]="'mobileNumber'"
          class="form-group d-block mb-4">
          <!-- Input -->
          <input
            [class.is-invalid]="mobileNumber.invalid"
            [formControl]="mobileNumber.control"
            [id]="mobileNumber.name"
            class="form-control"
            placeholder="Telemóvel"
            tabindex="5"
            type="text" />
        </app-form-group>
      </div>
      <div class="col-12 col-lg-4">
        <app-form-group
          #phoneNumber
          [label]="'Telefone'"
          [name]="'phoneNumber'"
          class="form-group d-block mb-4">
          <!-- Input -->
          <input
            [class.is-invalid]="phoneNumber.invalid"
            [formControl]="phoneNumber.control"
            [id]="phoneNumber.name"
            class="form-control"
            placeholder="Telefone"
            tabindex="6"
            type="text" />
        </app-form-group>
      </div>
    </div>
  </div>
</form>
