<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      Identificação
    </h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-12 col-lg-3 mb-4">
        <div class="text-muted text-uppercase fs-6 mb-2">Utente</div>
        <div class="text-nowrap">{{processCapture.patient.healthNumber$ | async | integer}}</div>
      </div>
      <div class="col col-12 col-lg-3 mb-4">
        <div class="text-muted text-uppercase fs-6 mb-2">Contribuínte</div>
        <div class="text-nowrap">{{processCapture.patient.taxNumber$ | async | integer }}</div>
      </div>
      <div class="col col-12 col-lg-6 mb-4">
        <div class="text-muted text-uppercase fs-6 mb-2">Nome</div>
        <div class="text-nowrap">{{processCapture.patient.name$ | async }}</div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="processCapture.patient.form" (ngSubmit)="processCapture.patient.submit()">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Morada
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-12 col-lg-6">
          <app-form-group
            #addressLine1
            [label]="'Arruamento / Porta'"
            [name]="'addressLine1'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="addressLine1.invalid"
              [formControl]="addressLine1.control"
              [id]="addressLine1.name"
              [placeholder]="addressLine1.label"
              class="form-control"
              tabindex="1"
              type="text" />
          </app-form-group>
          <app-form-group
            #addressLine2
            [label]="'Localidade'"
            [name]="'addressLine2'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="addressLine2.invalid"
              [formControl]="addressLine2.control"
              [id]="addressLine2.name"
              [placeholder]="addressLine2.label"
              class="form-control"
              tabindex="2"
              type="text" />
          </app-form-group>
          <app-form-group
            #addressLine3
            [label]="'Distrito'"
            [name]="'addressLine3'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="addressLine3.invalid"
              [formControl]="addressLine3.control"
              [id]="addressLine3.name"
              [placeholder]="addressLine3.label"
              class="form-control"
              tabindex="3"
              type="text" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-6">
          <app-form-group
            #postalCode
            [label]="'Código postal'"
            [name]="'postalCode'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="postalCode.invalid"
              [formControl]="postalCode.control"
              [id]="postalCode.name"
              [placeholder]="postalCode.label"
              class="form-control"
              tabindex="4"
              type="text" />
          </app-form-group>
          <app-form-group
            #postalCodeArea
            [label]="'Designação postal'"
            [name]="'postalCodeArea'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="postalCodeArea.invalid"
              [formControl]="postalCodeArea.control"
              [id]="postalCodeArea.name"
              [placeholder]="postalCodeArea.label"
              class="form-control"
              tabindex="5"
              type="text" />
          </app-form-group>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Contactos
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-12">
          <app-form-group
            #emailAddress
            [label]="'Correio eletrónico'"
            [name]="'emailAddress'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="emailAddress.invalid"
              [formControl]="emailAddress.control"
              [id]="emailAddress.name"
              [placeholder]="emailAddress.label"
              class="form-control"
              tabindex="6"
              type="email" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-4">
          <app-form-group
            #faxNumber
            [label]="'Fax'"
            [name]="'faxNumber'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="faxNumber.invalid"
              [formControl]="faxNumber.control"
              [id]="faxNumber.name"
              [placeholder]="faxNumber.label"
              class="form-control"
              tabindex="7"
              type="text" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-4">
          <app-form-group
            #mobileNumber
            [label]="'Telemóvel'"
            [name]="'mobileNumber'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="mobileNumber.invalid"
              [formControl]="mobileNumber.control"
              [id]="mobileNumber.name"
              [placeholder]="mobileNumber.label"
              class="form-control"
              tabindex="8"
              type="text" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-4">
          <app-form-group
            #phoneNumber
            [label]="'Telefone'"
            [name]="'phoneNumber'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="phoneNumber.invalid"
              [formControl]="phoneNumber.control"
              [id]="phoneNumber.name"
              [placeholder]="phoneNumber.label"
              class="form-control"
              tabindex="9"
              type="text" />
          </app-form-group>
        </div>
      </div>
    </div>
  </div>
</form>
