<div class="card">
  <div class="card-header">
    <h4 class="card-header-title">
      Identificação
    </h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-12 col-lg-3 mb-4">
        <div class="text-muted text-uppercase fs-6 mb-2">Utente</div>
        <div class="text-nowrap">{{patientHealthNumber$ | async | integer}}</div>
      </div>
      <div class="col col-12 col-lg-3 mb-4">
        <div class="text-muted text-uppercase fs-6 mb-2">Contribuínte</div>
        <div class="text-nowrap">{{patientTaxNumber$ | async | integer }}</div>
      </div>
      <div class="col col-12 col-lg-6 mb-4">
        <div class="text-muted text-uppercase fs-6 mb-2">Nome</div>
        <div class="text-nowrap">{{patientName$ | async }}</div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="patient" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Morada
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-12 col-lg-6">
          <app-form-group
            #patientAddressLine1
            [label]="'Arruamento / Porta'"
            [name]="'addressLine1'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientAddressLine1.invalid"
              [formControl]="patientAddressLine1.control"
              [id]="patientAddressLine1.name"
              [placeholder]="patientAddressLine1.label"
              class="form-control"
              tabindex="1"
              type="text" />
          </app-form-group>
          <app-form-group
            #patientAddressLine2
            [label]="'Localidade'"
            [name]="'addressLine2'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientAddressLine2.invalid"
              [formControl]="patientAddressLine2.control"
              [id]="patientAddressLine2.name"
              [placeholder]="patientAddressLine2.label"
              class="form-control"
              tabindex="2"
              type="text" />
          </app-form-group>
          <app-form-group
            #patientAddressLine3
            [label]="'Distrito'"
            [name]="'addressLine3'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientAddressLine3.invalid"
              [formControl]="patientAddressLine3.control"
              [id]="patientAddressLine3.name"
              [placeholder]="patientAddressLine3.label"
              class="form-control"
              tabindex="3"
              type="text" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-6">
          <app-form-group
            #patientPostalCode
            [label]="'Código postal'"
            [name]="'postalCode'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientPostalCode.invalid"
              [formControl]="patientPostalCode.control"
              [id]="patientPostalCode.name"
              [placeholder]="patientPostalCode.label"
              class="form-control"
              tabindex="4"
              type="text" />
          </app-form-group>
          <app-form-group
            #patientPostalCodeArea
            [label]="'Designação postal'"
            [name]="'postalCodeArea'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientPostalCodeArea.invalid"
              [formControl]="patientPostalCodeArea.control"
              [id]="patientPostalCodeArea.name"
              [placeholder]="patientPostalCodeArea.label"
              class="form-control"
              tabindex="5"
              type="text" />
          </app-form-group>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Contactos
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-12">
          <app-form-group
            #patientEmailAddress
            [label]="'Correio eletrónico'"
            [name]="'emailAddress'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientEmailAddress.invalid"
              [formControl]="patientEmailAddress.control"
              [id]="patientEmailAddress.name"
              [placeholder]="patientEmailAddress.label"
              class="form-control"
              tabindex="6"
              type="email" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-4">
          <app-form-group
            #patientFaxNumber
            [label]="'Fax'"
            [name]="'faxNumber'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientFaxNumber.invalid"
              [formControl]="patientFaxNumber.control"
              [id]="patientFaxNumber.name"
              [placeholder]="patientFaxNumber.label"
              class="form-control"
              tabindex="7"
              type="text" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-4">
          <app-form-group
            #patientMobileNumber
            [label]="'Telemóvel'"
            [name]="'mobileNumber'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientMobileNumber.invalid"
              [formControl]="patientMobileNumber.control"
              [id]="patientMobileNumber.name"
              [placeholder]="patientMobileNumber.label"
              class="form-control"
              tabindex="8"
              type="text" />
          </app-form-group>
        </div>
        <div class="col col-12 col-lg-4">
          <app-form-group
            #patientPhoneNumber
            [label]="'Telefone'"
            [name]="'phoneNumber'"
            class="form-group d-block mb-4">
            <!-- Input -->
            <input
              [class.is-invalid]="patientPhoneNumber.invalid"
              [formControl]="patientPhoneNumber.control"
              [id]="patientPhoneNumber.name"
              [placeholder]="patientPhoneNumber.label"
              class="form-control"
              tabindex="9"
              type="text" />
          </app-form-group>
        </div>
      </div>
    </div>
  </div>
</form>
