<ng-container *ngIf="(stepName$ | async) as stepName">
  <div class="container-sm ms-0">
    <form class="tab-content wizard py-6">
      <!-- Header -->
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

          <!-- Pretitle -->
          <h6 class="mb-4 text-uppercase text-muted">
            Passo {{stepNumber$ | async}} de {{stepCount$ | async}}
          </h6>

          <!-- Title -->
          <h1 class="mb-3">
            <ng-container *ngIf="stepName === 'entity'">Entidade</ng-container>
            <ng-container *ngIf="stepName === 'patient'">Utente</ng-container>
            <ng-container *ngIf="stepName === 'confirmation'">Confirmação</ng-container>
          </h1>

          <!-- Subtitle -->
          <p class="mb-2 text-muted">

            <ng-container *ngIf="stepName === 'entity'">
              Escolha o <strong class="text-nowrap">Centro de Saúde</strong> ou
              <strong class="text-nowrap">Loja do Cidadão</strong> para associar
              ao registo do processo de reembolso.
            </ng-container>

            <ng-container *ngIf="stepName === 'patient'">
              Escolha o <strong class="text-nowrap">Utente</strong> do <strong class="text-nowrap">{{entityName$ | async}}</strong>
              para associar ao registo do processo de reembolso.
            </ng-container>

            <ng-container *ngIf="stepName === 'confirmation'">
              Confirme a informação relevante para o registo do processo de reembolso
              com atenção antes de continuar.
            </ng-container>

          </p>

        </div>
      </div> <!-- / .row -->

      <div class="mt-6 mb-6"></div>

      <div [class.active]="stepName === 'entity'" class="tab-pane fade show" id="wizardStepOne" role="tabpanel" aria-labelledby="wizardTabOne">

        <form [formGroup]="entitySearch" (ngSubmit)="onEntitySearch()">
          <div class="form-group">
            <div class="input-group input-group-lg input-group-merge input-group-reverse">

              <!-- Input -->
              <input
                [class.is-invalid]="(entitySearch.controls.filter.touched || entitySearch.controls.filter.dirty) && entitySearch.controls.filter.invalid"
                [formControlName]="'filter'"
                class="form-control list-search"
                placeholder="Entidade"
                type="text" />

              <!-- Prepend -->
              <div class="input-group-text">
                <span class="fe fe-search"></span>
              </div>

            </div>

            <div class="form-text text-muted mt-2 mb-2">
              Pesquise pelo <strong>nome</strong> ou <strong>código</strong> da entidade.
            </div>
          </div>
        </form>

        <ng-container *ngIf="entitySearchResult$ | async">
          <div *ngIf="entitySearchResultEmpty$ | async" class="card mb-4 bg-warning">
            <div class="card-body">
              Não existem resultados a apresentar.
            </div>
          </div>
          <ng-container *ngFor="let entityId of (entitySearchResultMatches$ | async)">
            <ng-container *ngIf="(entityById$(entityId) | async) as entity">
              <div
                [class.selected]="entityId === (entityId$ | async)"
                (click)="onEntitySelection(entity.id)"
                class="card mb-4 result-card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="fs-1">
                        <i class="fe fe-activity"></i>
                      </div>

                    </div>
                    <div class="col ms-n2">

                      <!-- Title -->
                      <h4 class="mt-0 mb-2">
                        {{entity.name}}
                      </h4>

                      <!-- Text -->
                      <p class="small text-muted mb-0 mt-2" *ngIf="entity.parentEntityId && (entityById$(entity.parentEntityId) | async) as parentEntity">
                        {{parentEntity.name}}
                      </p>

                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .card-body -->
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

      </div>

      <div [class.active]="stepName === 'patient'" class="tab-pane fade show" id="wizardStepOne" role="tabpanel" aria-labelledby="wizardTabOne">

        <form [formGroup]="patientSearch" (ngSubmit)="onPatientSearch()">
          <div class="form-group">
            <div class="input-group input-group-lg input-group-merge input-group-reverse">

              <!-- Input -->
              <input
                [class.is-invalid]="(patientSearch.controls.filter.touched || patientSearch.controls.filter.dirty) && patientSearch.controls.filter.invalid"
                [formControlName]="'filter'"
                class="form-control list-search"
                placeholder="Utente"
                type="text" />

              <!-- Prepend -->
              <div class="input-group-text">
                <span class="fe fe-search"></span>
              </div>

            </div>

            <div class="form-text text-muted mt-2 mb-2">
              Pesquise por <strong>nome</strong>, <strong>número de contribuínte</strong> ou <strong>outros dados pessoais</strong> do utente.
            </div>
          </div>
        </form>

        <ng-container *ngIf="patientSearchResult$ | async">
          <div *ngIf="patientSearchResultEmpty$ | async" class="card mb-4 bg-warning">
            <div class="card-body">
              Não existem resultados a apresentar.
            </div>
          </div>

          <ng-container *ngFor="let match of (patientSearchResultMatches$ | async)">
            <ng-container *ngIf="(patientById$(match) | async) as patient">
              <div
              [class.selected]="match === (patientId$ | async)"
              (click)="onPatientSelection(patient.id)"
              class="card mb-4 result-card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="fs-1">
                        <i class="fe fe-user"></i>
                      </div>

                    </div>
                    <div class="col ms-n2">

                      <!-- Title -->
                      <h4 class="mt-0 mb-2">
                        {{patient.name}}
                      </h4>

                      <!-- Text -->
                      <div class="small mb-0 mt-2 d-flex flex-row align-items-center justify-content-start">
                        <div class="d-flex flex-row align-items-center justify-content-center me-3">
                          <i class="fe fe-hash me-1"></i>
                          <span>{{patient.healthNumber}}</span>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center me-3">
                          <i class="fe fe-dollar-sign me-1"></i>
                          <span>{{patient.taxNumber}}</span>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center me-3" *ngIf="patient.faxNumber">
                          <i class="fe fe-printer me-1"></i>
                          <span>{{patient.faxNumber}}</span>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center me-3" *ngIf="patient.mobileNumber">
                          <i class="fe fe-smartphone me-1"></i>
                          <span>{{patient.mobileNumber}}</span>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center me-3" *ngIf="patient.phoneNumber">
                          <i class="fe fe-phone me-1"></i>
                          <span>{{patient.phoneNumber}}</span>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-center me-3" *ngIf="patient.birth">
                          <i class="fe fe-gift me-1"></i>
                          <span>{{patient.birth | date : 'dd/MM/yyyy'}}</span>
                        </div>
                      </div>

                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .card-body -->
              </div>
            </ng-container>
          </ng-container>
        </ng-container>


      </div>

      <div [class.active]="stepName === 'confirmation'" class="tab-pane fade show" id="wizardStepOne" role="tabpanel" aria-labelledby="wizardTabOne">

        <div class="card" *ngIf="(entity$ | async) as entity">
          <div class="card-header">
            <h4 class="card-header-title">
              {{entity.nature | entityNature}}
            </h4>
          </div>
          <div class="card-body">
            <div class="row g-4">
              <div class="col col-12 col-lg-3 mb-2">
                <div class="text-muted text-uppercase fs-6 mb-2">Entidade</div>
                <div class="text-nowrap">{{entity.code}}</div>
              </div>
              <div class="col col-12 col-lg-9">
                <div class="text-muted text-uppercase fs-6 mb-2">Nome</div>
                <div class="text-nowrap">{{entity.name}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="(patient$ | async) as patient">
          <div class="card-header">
            <h4 class="card-header-title">
              Utente
            </h4>
          </div>
          <div class="card-body">
            <div class="row g-4">
              <div class="col col-12 col-lg-3 mb-2">
                <div class="text-muted text-uppercase fs-6 mb-2">Utente</div>
                <div class="text-nowrap">{{patient.healthNumber}}</div>
              </div>
              <div class="col col-12 col-lg-3 mb-2">
                <div class="text-muted text-uppercase fs-6 mb-2">Contribuínte</div>
                <div class="text-nowrap">{{patient.taxNumber}}</div>
              </div>
              <div class="col col-12 col-lg-3 mb-2" *ngIf="patient.birth">
                <div class="text-muted text-uppercase fs-6 mb-2">Nascimento</div>
                <div class="text-nowrap">{{patient.birth | date : 'dd/MM/yyyy'}}</div>
              </div>
              <div class="col col-12 col-lg-3 mb-2" *ngIf="patient.death">
                <div class="text-muted text-uppercase fs-6 mb-2">Óbito</div>
                <div class="text-nowrap">{{patient.death | date : 'dd/MM/yyyy'}}</div>
              </div>
              <div class="col col-12 mb-4">
                <div class="text-muted text-uppercase fs-6 mb-2">Nome</div>
                <div class="text-nowrap">{{patient.name}}</div>
              </div>
              <div class="col col-12 col-lg-3 mb-2" *ngIf="patient.faxNumber">
                <div class="text-muted text-uppercase fs-6 mb-2">Fax</div>
                <div class="text-nowrap">{{patient.faxNumber | date : 'dd/MM/yyyy'}}</div>
              </div>
              <div class="col col-12 col-lg-3 mb-2" *ngIf="patient.mobileNumber">
                <div class="text-muted text-uppercase fs-6 mb-2">Telemóvel</div>
                <div class="text-nowrap">{{patient.mobileNumber | date : 'dd/MM/yyyy'}}</div>
              </div>
              <div class="col col-12 col-lg-3 mb-2" *ngIf="patient.phoneNumber">
                <div class="text-muted text-uppercase fs-6 mb-2">Telefone</div>
                <div class="text-nowrap">{{patient.phoneNumber | date : 'dd/MM/yyyy'}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Divider -->
      <hr class="my-5">

      <!-- Footer -->
      <div class="nav row align-items-center" role="tablist">
        <div class="col-auto">

          <!-- Button -->
          <button
            [disabled]="!(previousStepEnabled$ | async)"
            (click)="previous()"
            class="btn btn-lg btn-white show"
            type="button">
            Anterior
          </button>

        </div>
        <div class="col text-center">

          <!-- Step -->
          <h6 class="text-uppercase text-muted mb-0">Passo {{ stepNumber$ | async }} de {{stepCount$ | async}}</h6>

        </div>
        <div class="col-auto">

          <!-- Button -->
          <button
            [disabled]="!(nextStepEnabled$ | async)"
            (click)="next()"
            class="btn btn-lg btn-primary"
            type="button" >
            Próximo
          </button>

        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="(complete$ | async)">
  <ng-container *ngIf="(process$ | async) as process">
    <div class="modal-backdrop fade show"></div>
    <div  class="modal fade show" tabindex="-1" role="dialog" aria-modal="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Processo de Reembolso</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>O processo de reembolso <strong>{{process.number}}</strong> foi registado com sucesso.</p>
          </div>
          <div class="modal-footer">
            <button
              (click)="onRedirectToProcessPatientCapture()"
              class="btn btn-primary"
              type="button">
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

