<div class="header">
  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Sistema de Gestão de Reembolsos
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            Início
          </h1>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <div class="card mt-6">
        <div class="card-body text-center py-6">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-xl-8">

              <!-- Image -->
              <img src="assets/dashkit/img/illustrations/happiness.svg" alt="..." class="img-fluid mt-4 mb-4" style="max-width: 272px;">

              <!-- Title -->
              <h2>
                Chegou o novo Sistema de Gestão de Reembolsos!
              </h2>

              <!-- Content -->
              <p class="text-muted">
                Esta nova atualização está carregada de novidades e trás consigo
                uma interface gráfica moderna, simplificada e altamente focada no
                fluxo de trabalho do operador.
              </p>

              <p class="text-muted">
                Este projeto de <a href="https://raw.githubusercontent.com/datapoint-software/pt-azoresgov-healthcare-reimbursements/main/LICENSE.md" class="text-nowrap" target="_blank">código aberto</a>
                foi promovido pela <a href="https://portal.azores.gov.pt/web/drs/" class="text-nowrap" target="_blank">Direção Regional de Saúde</a>, é
                mantido pela <a href="https://datapoint.software/" class="text-nowrap" target="_blank">datapoint.software</a> e tem o repositório oficial
                publicado em <a href="https://github.com/datapoint-software/pt-azoresgov-healthcare-reimbursements/" target="_blank"><span class="fe fe-github"></span> Github</a>.
              </p>

            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-sui-product-version />
