<div class="container-lg">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 py-6">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

          <!-- Pretitle -->
          <h6 class="mb-4 text-uppercase text-muted">
            Passo {{stepNumber}} de {{stepCount}}
          </h6>

          @if (isEntitySelection(step)) {

            <!-- Title -->
            <h1 class="mb-3">
              Qual é a entidade?
            </h1>

            <!-- Subtitle -->
            <p class="mb-5 text-muted">
              Selecione uma <strong class="text-nowrap">entidade</strong> para
              avançar com a criação do <strong class="text-nowrap">processo de reembolso</strong>.
            </p>

          }

          @else if (isPatientSelection(step)) {

            <!-- Title -->
            <h1 class="mb-3">
              Quem é o utente?
            </h1>

            <!-- Subtitle -->
            <p class="mb-5 text-muted">
              Selecione um <strong class="text-nowrap">utente</strong> para
              avançar com a criação do <strong class="text-nowrap">processo de reembolso</strong>.
            </p>

          }

          @else if (isConfirmation(step)) {

            <!-- Title -->
            <h1 class="mb-3">
              Confirmação
            </h1>

            <!-- Subtitle -->
            <p class="mb-5 text-muted">
              Confirme os detalhes para avançar com a criação do <strong class="text-nowrap">processo de reembolso</strong>.
            </p>

          }

        </div>
      </div>

      <router-outlet />

      <hr class="my-5">

      <div class="nav row align-items-center" role="tablist">

        <div class="col-auto">

          <!-- Button -->
          <button
            (click)="previous()"
            [class.invisible]="stepNumber === 1"
            class="btn btn-lg btn-primary"
            type="button">
            Anterior
          </button>

        </div>

        <div class="col text-center">

          <!-- Step -->
          <h6 class="text-uppercase text-muted mb-0">Passo {{stepNumber}} de {{stepCount}}</h6>

        </div>

        <div class="col-auto">

          <!-- Button -->
          <button
            (click)="next()"
            [class.invisible]="isPending(step)"
            class="btn btn-lg btn-primary"
            type="button">
            Próximo
          </button>

        </div>
      </div>
    </div>
  </div>


</div>
