<div class="header">
  <div class="container-fluid">
    <!-- Body -->
    <div class="header-body">
      <div class="row align-items-end">
        <div class="col">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            Processos
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            Pesquisa
          </h1>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .header-body -->
  </div>
</div>

<div class="container-fluid ms-0 pb-4">
  <div class="row">
    <div class="col col-12 col-lg-8">
      <ng-container *ngIf="(searchResult$ | async) as searchResult">
        <ng-container *ngIf="searchResult.totalMatchCount === 0; else searchResultDisclaimer">
          <div class="alert alert-light">
            Não existem resultados a apresentar.
          </div>
        </ng-container>
        <ng-template #searchResultDisclaimer>
          <div class="alert alert-info">
            Os resultados foram ordenados por prioridade de acordo com a <strong class="text-nowrap">data de registo</strong> e
            <strong class="text-nowrap">data estimada para a conclusão</strong> de cada processo de reembolso.
          </div>
        </ng-template>
        <div class="card mb-4 result-card" *ngFor="let process of searchResult.processes" (click)="redirect(process.id, process.status)">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h4 class="mt-0 mb-2">
                  {{searchResult.patients[process.patientId].name}}
                </h4>

                <!-- Text -->
                <div class="small mb-0 mt-2 d-flex flex-row flex-wrap align-items-center justify-content-start">
                  <div class="d-flex flex-row align-items-center justify-content-center me-3">
                    <i class="fe fe-file-text me-1"></i>
                    <span class="text-nowrap">{{process.number}}</span>
                  </div>
                  <div class="d-flex flex-row align-items-center justify-content-center me-3">
                    <i class="fe fe-user me-1"></i>
                    <span class="text-nowrap">{{searchResult.patients[process.patientId].healthNumber | integer}}</span>
                  </div>
                  <div class="d-flex flex-row align-items-center justify-content-center me-3">
                    <i class="fe fe-pie-chart me-1"></i>
                    <span class="text-nowrap">{{searchResult.patients[process.patientId].taxNumber | integer}}</span>
                  </div>
                  <div class="d-flex flex-row align-items-center justify-content-center me-3">
                    <i class="fe fe-calendar me-1"></i>
                    <span class="text-nowrap">{{process.creation | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                  </div>
                </div>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .card-body -->
          <div class="card-footer">
            <span class="badge bg-secondary text-white me-2 p-2">
              {{process.status | processStatus}}
            </span>
            <span class="badge bg-warning text-black me-2 p-2" *ngIf="process.documentIssueDateBypassEnabled || process.reimbursementLimitBypassEnabled">
              Autorização Especial
            </span>
            <span class="badge bg-danger text-white me-2 p-2" *ngIf="process.machadoJosephEnabled">
              Machado-Joseph
            </span>
            <span class="badge bg-danger text-white me-2 p-2" *ngIf="late(process.expiration)">
              Em atraso
            </span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-header-title">
            Pesquisa
          </h4>
        </div>
        <form
          [formGroup]="searchFormGroup"
          (ngSubmit)="onFiltersSubmit()"
          class="card-body">
          <div class="form-group">

            <label
              [class.is-invalid]="(searchFormGroup.controls.filter.touched || searchFormGroup.controls.filter.dirty) && searchFormGroup.controls.filter.invalid"
              class="form-label"
              for="filter">
              Processo
            </label>

            <div class="input-group input-group-lg input-group-merge input-group-reverse">

              <!-- Input -->
              <input
                [class.is-invalid]="(searchFormGroup.controls.filter.touched || searchFormGroup.controls.filter.dirty) && searchFormGroup.controls.filter.invalid"
                [formControlName]="'filter'"
                class="form-control list-search"
                id="filter"
                placeholder="Pesquisa"
                tabindex="1"
                type="text" />

              <!-- Prepend -->
              <div class="input-group-text">
                <span class="fe fe-search"></span>
              </div>

            </div>
          </div>
          <ng-container *ngIf="(entities$ | async) as entities">
            <ng-container *ngIf="entities.length > 1">
              <div class="form-group">
                <label
                  class="form-label"
                  for="entity">
                  Entidade
                </label>
                <!-- Input -->
                <select
                  (change)="onFiltersSubmit()"
                  [class.is-invalid]="(searchFormGroup.controls.entityId.touched || searchFormGroup.controls.entityId.dirty) && searchFormGroup.controls.entityId.invalid"
                  [formControlName]="'entityId'"
                  aria-label="Entidade"
                  class="form-select"
                  tabindex="2"
                  id="entity">
                  <option selected></option>
                  <option *ngFor="let entity of entities" [value]="entity.id">{{entity.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label
                  class="form-label"
                  for="status">
                  Estado
                </label>
                <!-- Input -->
                <select
                  (change)="onFiltersSubmit()"
                  [class.is-invalid]="(searchFormGroup.controls.status.touched || searchFormGroup.controls.status.dirty) && searchFormGroup.controls.status.invalid"
                  [formControlName]="'status'"
                  aria-label="Estado"
                  class="form-select"
                  tabindex="3"
                  id="status">
                  <option selected></option>
                  <option [value]="ProcessStatus.Capture">{{ProcessStatus.Capture | processStatus}}</option>
                  <option [value]="ProcessStatus.DocumentUpload">{{ProcessStatus.DocumentUpload | processStatus}}</option>
                  <option [value]="ProcessStatus.Codification">{{ProcessStatus.Codification | processStatus}}</option>
                  <option [value]="ProcessStatus.Validation">{{ProcessStatus.Validation | processStatus}}</option>
                  <option [value]="ProcessStatus.Payment">{{ProcessStatus.Payment | processStatus}}</option>
                  <option [value]="ProcessStatus.Complete">{{ProcessStatus.Complete | processStatus}}</option>
                  <option [value]="ProcessStatus.Cancelled">{{ProcessStatus.Cancelled | processStatus}}</option>
                </select>
              </div>
            </ng-container>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
