<ng-container *ngIf="(process$ | async) as process">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Formulários
      </h4>
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item pe-4 ps-4 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', process.id, 'capture', 'patient']">
        Utente
        <span
          [class]="icon(patient.valid)"
          class="fe ms-auto">
        </span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', process.id, 'capture', 'special-terms']">
        Autorizações especiais
        <span
          [class]="icon(configuration.valid)"
          class="fe ms-auto">
        </span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', process.id, 'capture', 'legal-representative']">
        Representante legal
        <span class="fe fe-edit ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Situação de desemprego
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Declaração de rendimentos
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Pagamento
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Documentos
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Simulação
        <span class="fe fe-lock ms-auto"></span>
      </a>
    </div>
  </div>
</ng-container>
