<ng-container *ngIf="(processCapture.id$ | async) as id">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Formulários
      </h4>
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item pe-4 ps-4 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'patient']">
        Utente
        <app-process-capture-navigation-icon
          [invalid]="processCapture.patient.form.invalid"
          [written]="(processCapture.patient.written$ | async)!"
          [writting]="(processCapture.patient.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'configuration']">
        Condições especiais
        <app-process-capture-navigation-icon
          [enabled]="!!(
            processCapture.configuration.form.value.documentIssueDateBypassEnabled ||
            processCapture.configuration.form.value.machadoJosephEnabled ||
            processCapture.configuration.form.value.reimbursementLimitBypassEnabled ||
            processCapture.configuration.form.value.unemploymentEnabled)"
          [invalid]="processCapture.configuration.form.invalid"
          [written]="(processCapture.configuration.written$ | async)!"
          [writting]="(processCapture.configuration.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'legal-representative']">
        Representante legal
        <app-process-capture-navigation-icon
          [enabled]="processCapture.legalRepresentative.form.value.enabled === true"
          [invalid]="processCapture.legalRepresentative.form.invalid"
          [written]="(processCapture.legalRepresentative.written$ | async)!"
          [writting]="(processCapture.legalRepresentative.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Declaração de rendimentos
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Pagamento
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Documentos
        <span class="fe fe-lock ms-auto"></span>
      </a>
      <a class="list-group-item pe-4 ps-4 text-muted d-flex align-items-center justify-content-center">
        Simulação
        <span class="fe fe-lock ms-auto"></span>
      </a>
    </div>
  </div>
</ng-container>

<ng-template #defaultStateIcon>
  <span class="fe fe-edit ms-auto"></span>
</ng-template>
