<ng-container *ngIf="(processCapture.id$ | async) as id">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">
        Formulários
      </h4>
    </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'patient']">
        <span class="py-3">Utente</span>
        <app-process-capture-navigation-icon
          [invalid]="processCapture.patient.form.invalid"
          [written]="(processCapture.patient.written$ | async)!"
          [writting]="(processCapture.patient.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'configuration']">
        <span class="py-3">Condições especiais</span>
        <app-process-capture-navigation-icon
          [enabled]="!!(
            processCapture.configuration.form.value.documentIssueDateBypassEnabled ||
            processCapture.configuration.form.value.machadoJosephEnabled ||
            processCapture.configuration.form.value.reimbursementLimitBypassEnabled ||
            processCapture.configuration.form.value.unemploymentEnabled)"
          [invalid]="processCapture.configuration.form.invalid"
          [written]="(processCapture.configuration.written$ | async)!"
          [writting]="(processCapture.configuration.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'legal-representative']">
        <span class="py-3">Representante legal</span>
        <app-process-capture-navigation-icon
          [enabled]="processCapture.legalRepresentative.form.value.enabled === true"
          [invalid]="processCapture.legalRepresentative.form.invalid"
          [written]="(processCapture.legalRepresentative.written$ | async)!"
          [writting]="(processCapture.legalRepresentative.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'family-income-statement']">
        <span class="py-3">Declaração de rendimentos</span>
        <app-process-capture-navigation-icon
          [enabled]="processCapture.familyIncomeStatement.form.value.enabled === true"
          [invalid]="processCapture.familyIncomeStatement.form.invalid"
          [written]="(processCapture.familyIncomeStatement.written$ | async)!"
          [writting]="(processCapture.familyIncomeStatement.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'payment']">
        <span class="py-3">Pagamento</span>
        <app-process-capture-navigation-icon
          [invalid]="processCapture.payment.form.invalid"
          [written]="(processCapture.payment.written$ | async)!"
          [writting]="(processCapture.payment.writting$ | async)!"
          class="ms-auto" />
      </a>
      <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'documents']">
        <span class="py-3">Documentos</span>
        <app-process-capture-navigation-icon
          [invalid]="processCapture.documents.form.invalid"
          [written]="false"
          [writting]="false"
          class="ms-auto" />
      </a>
      @if(processCapture.simulation.available$ | async) {
        <a class="list-group-item pe-4 ps-4 py-0 text-primary d-flex align-items-center justify-content-center" [routerLink]="[ '/processes', id, 'capture', 'simulation']">
          <span class="py-3">Simulação</span>
          <app-process-capture-navigation-icon
            [invalid]="false"
            [written]="true"
            [writting]="false"
            class="ms-auto" />
        </a>
      }
      @else {
        <a class="list-group-item pe-4 ps-4 py-0 text-muted d-flex align-items-center justify-content-center">
          <span class="py-3">Simulação</span>
          <span class="fe fe-lock ms-auto"></span>
        </a>
      }

    </div>
  </div>
</ng-container>

<ng-template #defaultStateIcon>
  <span class="fe fe-edit ms-auto"></span>
</ng-template>
