<form [formGroup]="form" (ngSubmit)="submit()">
  <app-sui-form-group #filter [name]="'filter'" class="form-group d-block mb-4">
    <!-- Label -->
    <label
      [class.is-invalid]="filter.invalid"
      [class.is-required]="filter.required"
      [for]="filter.name"
      class="form-label">
      Entidades
    </label>
    <!-- Input group -->
    <div
      [class.is-invalid]="filter.invalid"
      [class.is-required]="filter.required"
      class="input-group input-group-merge">
      <!-- Input -->
      <input
        [class.is-invalid]="filter.invalid"
        [class.is-required]="filter.required"
        [formControl]="filter.control"
        [id]="filter.name"
        autocomplete="off"
        class="form-control"
        tabindex="1"
        type="text" />
      <!-- Icon -->
      <div class="input-group-text">
        <span class="fe fe-search"></span>
      </div>
    </div>
    <div class="form-text mt-2 mb-0">Pesquise por código ou nome da entidade.</div>
  </app-sui-form-group>
</form>

@if (searchResult) {

  @if (searchResult.totalMatchCount > 0) {

    @for (searchResultEntity of searchResultEntities; track searchResultEntity.id) {
      <div
        (click)="select(searchResultEntity.id)"
        [class.selected]="entity?.id === searchResultEntity.id"
        class="card search-result-card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-auto">

              <!-- Avatar -->
              <div class="avatar avatar-lg d-flex align-items-center justify-content-center text-primary">
                <span class="fe fe-activity"></span>
              </div>

            </div>
            <div class="col ms-n2">

              <!-- Title -->
              <h4 class="text-primary mb-1">
                {{searchResultEntity.name}}
              </h4>

              <!-- Text -->
              @if (searchResultEntity.parentEntity) {
                <p class="small text-muted mb-1">
                  {{searchResultEntity.parentEntity.name}}
                </p>
              }

            </div>

            <div class="col-auto">

              <!-- Button -->
              <button class="btn btn-primary d-none d-md-inline-block" (click)="select(searchResultEntity.id)">
                Continuar <span class="fe fe-arrow-right"></span>
              </button>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .card-body -->
      </div>
    }
  }

  @else {
    <div class="alert alert-warning">
      Não foram encontradas entidades correspondentes a estes termos de pesquisa.
    </div>
  }
}
